<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="font-family:Papyrus, sans-serif;font-weight:bold">Photos.Clawiz</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="gallery">
    <div class="image" *ngFor="let photo of photos ;let i = index">
      <img *ngFor="let img of photo.images;let j = index"
      [src]="img.img"
      [srcset]="generateSrcset(img)"
      [alt]="photo.description"
      ngOptimizedImage
      width="100%"
      fill
      [sizes]="imageSize"
      (load)="onImageLoad(i)"
      (click)="openImageOptions(photo, j)">
    </div>
  </section>
  <div *ngIf="photos.length === 0 || photos.length <= cardsToShow">
    <div class="end-message">
      <p>You've navigated every pixel of our gallery.</p>
    </div>
  </div>
  <!-- Footer Section -->
  <div class="footer" *ngIf="isViewInitialized">
    <p>Made with <span class="heart">&hearts;</span> by Ankit</p>
    <p>&copy; 2023 Photos.Clawiz All Rights Reserved. | India</p>
  </div>
</ion-content>